/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Centrado vertical y horizontal en el body */
html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f; 
    color: #f5f5f5; 
}



/* Contenedor principal de la aplicación */
#app {
    text-align: center;
    background-color: #2e2e2e; 
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Visibilidad */
.oculto {
    display: none!important;
}

.visible {
    display: block;
}

/* Estilos para las preguntas */
.pregunta {
    margin-bottom: 20px; 
}

/* Botones de navegación */
.nav-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px; 
}

.btnDisabled{
    background-color: #280144; 
}

/* Estilos generales para botones */
button {
    display: inline-block;
    background-color: #4b0082; 
    color: #fff;
    border: none;
    border-radius: 8px; 
    padding: 10px 20px;
    margin: 5px; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Hover para los botones */
button:hover {
    background-color: #6a0dad; 
}

button:active {
    background-color: #370b53; 
}

.button-pulsado {
    display: inline-block;
    background-color: #1c0c49; 
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 5px; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Hover para los botones */
.button-pulsado:hover {
    background-color: #502497;
}

.button-pulsado:active {
    background-color: #001950; 
}

/* Estilos para inputs y selects */
input[type="text"],
select {
    padding: 10px;
    width: 80%;
    margin: 20px auto;
    display: block;
    border-radius: 8px;
    border: 1px solid #6a0dad;
    background-color: #3c3c3c; 
    color: #fff;
}

.selectCantPreg{
    width: auto;
    min-width: max-content;
}

/* Estilos para textos */
h2,
h3,
p {
    margin: 20px 0;
}

/* Estilos para selects */
select, 
option {
    background-color: #2e2e2e;
    color: #fff;
}

/* Estilos para enlaces */
a {
    color: #7900cf; 
    text-decoration: none; 
    font-size: 1.2rem; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #6a0dad; 
}

/* Botón para finalizar el cuestionario */
#enviaRespostes,
#nouJoc {
    background-color: #333;
}

#enviaRespostes:hover,
#nouJoc:hover {
    background-color: #555; /* Color al pasar el cursor */
}

/* Animaciones opcionales para una transición suave */
button, 
input[type="text"], 
select {
    transition: all 0.3s ease;
}

